body{
    background-color: yellowgreen;
}
.header,.main{
    width: 420px;
    margin: 30px 0 0 400px;
}
.footer{
    width: 510px;
    height: 180px;
    margin: 30px 0 0 400px;
    background-color: purple;
}
.header-block-orange{
    height: 80px;
    width: 100%;
    background-color: orangered;
}
.header-block-green{
    height: 80px;
    width: 100%;
    background-color: green;
}
.header-block-aqua{
    width: 100%;
    height: 80px;
    background-color: rgb(15, 88, 88) ;
}
.main-block-top{
    width: 100%;
    height: 80px;
}
.main-block-top-red{
    width: 140px;
    height: 80px;
    background-color: red;
    float: left;
}
.main-block-top-yellow{
    width: 140px;
    height: 80px;
    background-color: yellow;
    float: left;
}
.main-block-top-blue{
    width: 140px;
    height: 80px;
    background-color: blue;
    float: left;
}
.block-botom{
    width: 100%;
    height: 80px;
}
.block-botom-black{
    width: 210px;
    height: 80px;
    background-color: black;
    float: left;
}
.block-botom-gray{
    width: 210px;
    height: 80px;
    background-color: gray;
    float: left;
}
.block-footer-red{
    width: 90px;
    height: 90px;
    margin: 20px;
    padding: 20px;
    float: left;
    background-color: rgb(204, 10, 10);
}
.block-footer-green{
    width: 90px;
    height: 90px;
    margin: 20px;
    padding: 20px;
    float: left;
    background-color:greenyellow;
}
.block-footer-blue{
    width: 90px;
    height: 90px;
    margin: 20px;
    padding: 20px;
    float: left;
    background-color: royalblue;
}