*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: chocolate;
}
.container{
    height: 1330px;
}

.card{
    height: 600px;
    margin: 30px;
    width: 600px;
}

.card > .card-img-top{
    margin: 0 auto;
    width: 250px;
}
.card .btn{
    margin: 0 auto;
    box-sizing: border-box;
    background: rgb(84,18,28);
    background: linear-gradient(344deg, rgba(84,18,28,1) 0%, rgba(250,162,56,1) 45%, rgba(40,71,115,1) 85%, rgba(19,85,135,1) 100%);
    width: 150px;
    position: relative;
    top: 60px;
   
}

.btn a{
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}
.card-group .card .btn{
    display: flex;
    justify-content: center;

}
.card-group{
    height: 600px;
    width: px;
}
.card-body{
margin: 30px;
width: 80%;

}